@model Base.Model1.HajjReq


@{
    ViewBag.Title = "Delete Hajj Requirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> حذف طلب</h2>
<div>
    <h4>Are you sure you want to delete this requirement?</h4>
    <div>
        <h5>@Model.Name</h5>
    </div>
    @using (Html.BeginForm())
    {
        <input type="hidden" name="id" value="@Model.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    }
</div>