@model Base.Model1.HajjReq

@{
    ViewBag.Title = "حذف طلب الحج";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>
<br/>
<div class="container mt-5">
  

    <div class="row justify-content-center">
        <div class="col-md-6 ">
            <div class="card shadow-lg border-0">
                <div class="card-header  bg-dark text-white">
                    <h4 class="text-center">تأكيد الحذف</h4>
                </div>
                <div class="card-body text-center">
                    <h5>هل أنت متأكد أنك تريد حذف هذا الطلب؟</h5>
                    <h5 class="text-danger mt-3">@Model.Name</h5>
                </div>
                <div class="card-footer text-right">
                    @using (Html.BeginForm())
                    {
                        <input type="hidden" name="id" value="@Model.ID" />
                        <input type="submit" value="حذف" class="btn btn-danger btn-lg px-4" />
                        @Html.ActionLink("إلغاء", "Index", null, new { @class = "btn btn-secondary btn-lg px-4 ml-3" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>